@media (min-width: 992px) and (max-width: 1199px) {
    #main-slide .carousel-caption {
        top: 22%
    }

    .hero-heading {
        font-size: 26px;
        line-height: 40px
    }

    .subtitle {
        font-size: 16px
    }

    .welcome-section h1 {
        line-height: 38px;
        font-size: 24px
    }

    .Material-tab ul.nav.nav-tabs .nav-item .nav-link {
        font-size: 16px
    }

    .icon-round {
        margin-right: 6px
    }

    .icon-box {
        margin-right: 6px
    }

    .icon-common {
        margin-right: 8px
    }

    .blog-sidebar-column .subscribe-widget .social-profiles,
    .blog-sidebar-column .subscribe-widget .subscribe-box {
        padding: 30px 20px
    }
}

@media (max-width: 991px) {
    .page-title-section {
        padding: 40px 0
    }

    .section-titile-bg {
        display: none
    }

    .section-title {
        position: relative;
        margin-bottom: 50px
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #main-slide .carousel-caption {
        top: 22%
    }

    .hero-heading {
        font-size: 26px;
        line-height: 40px
    }

    .hero-sub-heading {
        font-size: 16px
    }

    .section-title {
        font-size: 22px
    }

    .subtitle {
        font-size: 18px
    }

    .welcome-section h1 {
        line-height: 25px;
        font-size: 16px
    }

    .Material-tab {
        margin-bottom: 30px
    }

    .portfolio-nav ul.nav li a {
        padding: 1px 8px;
        margin: 2px
    }

    .page-footer .footer-title {
        margin-top: 30px
    }

    .icon-round,
    .icon-box {
        width: 36px;
        height: 36px;
        text-align: center;
        line-height: 36px !important;
        margin-right: 6px
    }

        .icon-round .material-icons,
        .icon-box .material-icons {
            font-size: 20px
        }

    .icon-common {
        width: 36px;
        height: 36px;
        text-align: center;
        line-height: 36px !important;
        margin-right: 6px;
        font-size: 36px !important
    }

    .portfolio-details-section .portfolio-details h2 {
        font-size: 22px;
        line-height: 30px
    }

    .portfolio-details-section ul.portfolio-meta {
        padding: 0 15px
    }

    .portfolio-details-section .portfolio-details .portfolio-meta li span {
        width: none
    }

    .blog-sidebar-column {
        margin-top: 30px
    }

    .call-to-action-section h1 {
        font-size: 40px
    }

    .ripple-container {
        display: none
    }

    #rev_slider_main_forcefullwidth h1 {
        font-size: 38px !important;
        font-weight: 900;
        line-height: 50px
    }
}

@media (max-width: 767px) {
    #main-slide .carousel-caption {
        top: 22%
    }

    .carousel-indicators {
        display: none
    }

    .carousel-inner {
        margin-top: 62px
    }

    .hero-heading {
        font-size: 14px;
        line-height: 18px
    }

    .hero-sub-heading {
        font-size: 16px;
        line-height: 20px
    }

    #rev_slider_main_forcefullwidth h1 {
        font-size: 24px !important;
        font-weight: 900;
        line-height: 50px
    }

    .section-title {
        font-size: 20px;
        position: initial;
        margin-bottom: 30px
    }

        .section-title::before {
            bottom: 10px
        }

    .subtitle {
        font-size: 16px
    }

    .section-titile-bg {
        display: none
    }

    .welcome-section h1 {
        line-height: 30px;
        font-size: 18px
    }

    .Material-tab ul.nav.nav-tabs .nav-item .nav-link {
        font-size: 13px;
        padding: 14px 5px
    }

    .Material-tab ul.nav.nav-tabs li .active {
        color: #fff !important
    }

    .Material-tab ul.nav.nav-tabs .nav-item .nav-link i {
        font-size: 24px;
        margin-right: 5px
    }

    .video-gallery {
        margin-top: 30px
    }

    .media-body .subtitle {
        font-size: 14px
    }

    .portfolio-nav ul.nav {
        float: left
    }

        .portfolio-nav ul.nav li a {
            padding: 7px 10px
        }

    .single-blog-post .post-meta .read-more-icon {
        bottom: 125px
    }

    .single-blog-post {
        margin-top: 30px
    }

    .page-footer .footer-title {
        margin-top: 30px
    }

    .work-counter-widget {
        margin: 20px 0
    }

        .work-counter-widget i {
            font-size: 70;
            top: -35px
        }

        .work-counter-widget .counter span {
            font-size: 32px;
            font-weight: 700
        }

        .work-counter-widget .counter p {
            font-size: 13px;
            font-weight: 500
        }

    .icon-table .single-pricing-table {
        margin-bottom: 30px
    }

    .pricing-table {
        margin-bottom: 30px
    }

    .single-team-widget {
        margin-top: 20px
    }

    .blog-sidebar-column {
        margin-top: 30px
    }

        .blog-sidebar-column .author-widget .author-info .author-image {
            top: 70px;
            left: 20px
        }

        .blog-sidebar-column .author-widget .author-info .author-intro {
            float: right;
            right: 55px;
            top: 82px
        }

        .blog-sidebar-column .subscribe-widget .social-profiles,
        .blog-sidebar-column .subscribe-widget .subscribe-box {
            padding: 30px 20px
        }

    .users-comment-section {
        padding: 0px
    }

        .users-comment-section .media .media-body .media {
            margin-left: -100px
        }

    .single-post h2 {
        font-size: 22px;
        line-height: 30px
    }

    .page-title-section {
        padding: 10px 0
    }

    .page-title {
        font-size: 32px;
        margin-top: 8px
    }

    .page-tagline {
        font-size: 16px
    }

    .contact-title {
        font-size: 26px;
        line-height: 45px
    }

    .call-to-action-section h1 {
        font-size: 21px
    }

    .call-to-action-section h3 {
        font-size: 16px
    }

    .call-to-action-section .text-right {
        text-align: left !important
    }

    .icon-round,
    .icon-box {
        margin-bottom: 20px
    }

    .icon-common {
        margin-bottom: 20px
    }

    .ripple-container {
        display: none
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    #main-slide .carousel-caption {
        top: 5%
    }

    #main-slide .btn-common,
    #main-slide .btn-border {
        padding: 10px 4px;
        font-size: 14px;
        font-weight: 400
    }

    #Material-image-carousel .owl-controls .owl-buttons div.owl-prev {
        left: 20px
    }

    #Material-image-carousel .owl-controls .owl-buttons div.owl-next {
        right: 20px
    }
}
